# Copy this file to .env and fill in your values
# Discord Bot Configuration
DISCORD_TOKEN=YOUR_TOKEN
TARGET_CHANNEL_ID=CHANNEL_ID_SOURCE
OUTPUT_CHANNEL_ID=CHANNEL_ID_OUTPOUT

# Bot Settings
CHECK_INTERVAL=5
